/*
    Animations
*/

// TODO: Create a robust, but simply, animation library

@keyframes a--fade-up {
    from { margin-top: 12%; opacity: 0; }
    to { margin-top: 0; opacity: 1; }
}

@keyframes a--blur-up {
    from { margin-top: 12%; filter: blur(4px); }
    to { margin-top: 0; opacity: 1; filter: blur(0px); }
}

@keyframes a--fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.a--fade-up, .a--blur-up, .a--fade-in {
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.175, 0.9, 0.1, 1.25);
}

.a--fade-up { animation-name: a--fade-up; }
.a--blur-up { animation-name: a--blur-up; }
.a--fade-in { animation-name: a--fade-in; }

.a--delay-1 { animation-delay: 0.5s; }
.a--delay-2 { animation-delay: 1s; }
.a--delay-3 { animation-delay: 1.5s; }