/*
    Buttons
*/

// TODO: Update main buttons slightly
// TODO: Create new buttons for the question (taste builder) component

// Button Container

.btn__container {
    text-align: center;
    padding: $padding--xxs 0 0;

    // Any .btn that's a direct child of a btn__container
    > .btn {
        padding: 0 $padding--xxs $padding--xxs;
    }

    // Centering a container (vert / horz) of buttons within it's container
    &.center {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}


// Button Generic Styles

.btn {
    display: inline-block;
    padding: 0;

    // <a>'s in a generic .btn
    > a {
        display: block;
        font-family: $sans;
        font-size: 1rem;
        text-decoration: none;
        transition: all 0.18s ease-in-out;

        @include bp(break-md) {
            font-size: 1.1rem;
        }
    }

    // <button>'s in a generic .btn
    > button {
        background: none;
        font-family: $sans;
        border: none;
        padding: 0;
        font-size: 1rem;
        transition: all 0.18s ease-in-out;
    }

    // add proper cursor and hover effects to buttons when hovered
    > a:hover, button:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    // Regular Button
    &.btn--regular {
        > a, > button {
            background-color: $color__3;
            background: linear-gradient(50deg, $color__3, $color__5);
            background-size: 130% 100%;
            color: $color__white;
            padding: $padding--xs $padding--sm;
            border-radius: 6px;
            box-shadow: 0px 8px 36px -4px rgba(63,13,178,0.33);
            @include bp(break-md) {
                padding: $padding--xs+2px $padding--sm+2px;
            }
            &:hover {
                // background: linear-gradient($color__3, 16%);
                background-position: 100% 100%;
                border-radius: 5px;
                box-shadow: 0px 16px 44px -8px rgba(63,13,178,0.25);
            }
            &:disabled {

            }
        }
    }

    // Alternate Button
    &.btn--alt {
        > a, > button {
            background: $color__white;
            color: lighten($color__2, 50%);
            padding: $padding--xxs+4px $padding--sm;
            border: 1px solid lighten($color__2, 66%);
            border-radius: 4px;
            box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.33);
            &:hover {
                transform: scale(1);
                background: white;
            }
            &:disabled {
                opacity: 0.6;
                background: #dddddd;
                &:hover {
                    cursor: default;
                }
            }
            svg {
                font-size: 0.8rem;
            }
        }
    }

    // Form Button
    &.btn--form {
        padding-bottom: 0;
        display: block;
        > a, > button {
            width: 100%;
            border: 2px solid $color__3;
            border-radius: 4px;
            background: none;
            color: $color__3;
            padding: $padding--xs $padding--sm;
            &:hover {
                background: $color__3;
                color: $color__white;
            }
            @include bp(break-md) {
                padding: $padding--xs+2px $padding--sm+2px;
            }
        }
    }

    // Simple Button
    &.btn--simple {
        > a {
            font-size: 1rem;
            color: $color__3;
            svg {
                font-size: 0.88rem;
            }
            &:hover { 
                transform: scale(1);
                color: $color__1; 
            }
            @include bp(break-md) {
                font-size: 1.1rem;
            }
        }
    }

    // Large Button
    &.btn--large {
        @extend .btn--regular;
        > a, > button {
            font-size: 1.1rem;
            padding: $padding--xs+4px $padding--sm+8px;
            @include bp(break-md) { 
                font-size: 1.2rem; 
            }
        }
    }
}

