/*
    Forms
*/


// Settings

$numberOfQuestions: 5;

@keyframes shrink {
    0% { height: auto; }
    90% { height: auto; }
    100% { height: 1px; }
}


// General form

.form {
    // background: aquamarine;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    margin: 0 auto;
}


// Fields

.field {
    padding: 0 0 $padding--xs;
    input[type='text'], input[type='email'], input[type='password'], input[type='tel'] {
        border: none;
        border: 1px solid #ddd;
        border-bottom: 2px solid $color__3;
        background: $color__white;
        padding: $padding--xxs;
        margin: $padding--xxs 0 0;
        width: 100%;
        font-family: $serif;
        font-size: 1rem;
        @include bp(break-md) {
        }
    }
    label {
        display: block;
        font-family: $sans;
        font-size: 1.1rem;
    }
    p.small {
        text-align: center;
        color: lighten($color__2, 30%);
        line-height: 100%;
        padding: $padding--xxs;
        margin-top: 3px;
        border-radius: 0 0 2px 2px;
    }

    p.invalid {
        background-color: #eaeaea;
        color: #4f4f4f;
    }
    p.valid { 
        background-color: #c2e5bf;
        color: #4f4f4f;
    }

    @include bp(break-md) {
        padding: 0 0 $padding--md;
    }

    &.field--tight {
        padding: 0 !important;
    }
}


// Fields in an info box

.card--info {
    .field {
        label {
            color: $color__white;
        }
        input[type='text'], input[type='email'], input[type='password'], input[type='tel'] {
            background: none;
            border-bottom-color: $color__white;
            color: $color__white;
        }
    }
}


// Forms alerts

.alert {
    clear: both;
    padding: $padding--xs;
    background: lighten(tomato, 25%);
    border-radius: 4px;
    margin: 0 0 $padding--xs;
}



// Questions

.question__container {
    width: $numberOfQuestions * 100%; // 6 screens * 100%
    display: flex;
    height: 100%;
    transform: translateX(0);
    transition: all 0.8s ease-in-out;
    perspective: 3600px;
}

.question {
    // background: #ddd;
    position: relative;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    flex-grow: 1;
    padding: $padding--sm $padding--xs;
    transition: all 0.8s ease-in-out;
    @include bp(break-sm) {
        padding: $padding--md $padding--sm;
    }
    @include bp(break-md) {
        max-width: 640px;
    }
}


// Animate as we move through the questions

.q__1 { 
    .question__container { transform: translateX(-100% / $numberOfQuestions); } 
    .question:nth-child(1) { transform: rotateY(55deg); animation: shrink 0s linear 0.8s; } 
    .question:nth-child(2) { height: auto; }
}
.q__2 { 
    .question__container { transform: translateX(-100% / ($numberOfQuestions / 2)); } 
    .question:nth-child(2) { transform: rotateY(45deg); } 
}
.q__3 { 
    .question__container { transform: translateX(-100% / ($numberOfQuestions / 3)); } 
    .question:nth-child(3) { transform: rotateY(45deg); } 
}
.q__4 { 
    .question__container { transform: translateX(-100% / ($numberOfQuestions / 4)); } 
    .question:nth-child(4) { transform: rotateY(45deg); } 
}
.q__5 { 
    .question__container { transform: translateX(-100% / ($numberOfQuestions / 5)); } 
    // 5th question
    .question:nth-child(5) { transform: rotateY(45deg); }
}


// Submit

.form__submit {
    position: relative;
    display: none;
    border: 1px solid red;
    height: 100%;
}