/*
    Layout
*/

html, body {
    height: 100%;
    background: $color__1;
}

// Main structure

// Main application wrapping container
.app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 95%;
    max-width: 1500px;
    min-height: 100vh;
    height: 100%;
    background: white;
    box-shadow: 11px 0px 42px -10px rgba(0,0,0,0.25);
    @include bp(break-xl) {
        flex-direction: row;
    }
}

// Wrappers
.wrapper {
    padding: $padding--sm $padding--sm $padding--md;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center 80%;
    min-height: 100%; min-width: 100%;
    // border: 1px solid black;
    @include bp(break-sm) {
        padding: $padding--md $padding--md $padding--md+32px;
    }
    @include bp(break-md) {
        background-size: 55%;
        padding: $padding--lg $padding--lg $padding--lg+32px;
    }
}

// Wrapper that has a background
.bg {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    @include bp(break-md) {
    }
}


// Main content plus sidebar (header/nav)

.page__content, .page__sidebar {
    position: relative;
}

.page__content {
    // background: tomato;
    width: 100%;
    flex-grow: 1;
    display: flex;
    // border: 1px solid tomato;
    background-color: #f5f3f3;
    @include bp(break-xl) {
        display: block;
        width: 69%;
    }
}

.page__sidebar {
    // background: yellow;
    width: 100%;
    padding: $padding--sm $padding--sm $padding--md;
    @include bp(break-xl) {
        width: 31%;
        padding: $padding--lg $padding--lg $padding--lg+32px;
    }
}

header.page__header {
    width: 100%;
    padding: $padding--xs+4px $padding--sm;
    background: $color__2;
    box-shadow: 0px 28px 64px -12px rgba(0,0,0,0.2),
                0px 9px 24px -4px rgba(0,0,0,0.2);
    max-width: 420px;
    margin: 0 auto;
    border-radius: 2px;
    transition: all 0.22s ease-in-out;

    // height: 68px;
    // overflow-y: hidden;

    &.page__header--open {
        height: auto;
    }

    @include bp(break-md) {
        padding: $padding--sm;
        height: auto;
    }
}


/* Trumps */

.none { display: none; }
.block { display: block; }