/*
    Layout
*/

// TODO: Replace most code with new layout system
// TODO: Incorporate new illustrations into layout
//       Maybe that should be in a new partial like _graphics.scss
// TODO: More comments and documentation around styling and layout

html, body {
    height: 100%;
    background: $color__2;
}

// Main structure

// Main application wrapping container
// need to look at flex here
.app {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    max-width: 1500px;
    min-height: 100vh;
    height: 100%;
    background: white;

    &.nav--open {
        .page__sidebar {
            width: 85%;
            @include bp(break-lg) { width: 38.2%; }
        }
        .page__content {
            transform: translateX(50%);
            @include bp(break-lg) { transform: translateX(0); }
        }
        nav.main {
            opacity: 1;
            transform: translateX(0);
            transition-delay: 0.3s;
        }
        .hamburger {
            
        }
    }
}

// Wrappers
.wrapper {
    padding: $padding--sm $padding--sm $padding--md;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center 80%;
    min-height: 100%; min-width: 100%;
    // border: 1px solid black;
    @include bp(break-sm) {
        padding: $padding--md $padding--md $padding--md+32px;
    }
    @include bp(break-md) {
        background-size: 55%;
        padding: $padding--lg $padding--lg $padding--lg+32px;
    }
}

// Wrapper that has a background
.bg {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    @include bp(break-md) {
    }
}


// Main content plus sidebar (header/nav)

.page__content, .page__sidebar {
    position: relative;
}

.page__content {
    // background: tomato;
    transition: all 0.22s ease-in-out;
    width: auto;
    flex-grow: 1;
    display: flex;
    // border: 1px solid tomato;
    // background-color: #f5f3f3;
    background: white;
    padding-left: 36px + ($padding--xs * 2);
    @include bp(break-lg) {
        display: block;
        width: 61.8%;
        padding-left: 0;
    }
}

.page__sidebar {
    transition: all 0.22s ease-in-out;
    position: fixed;
    z-index: $zOverContent;
    top: 0; left: 0; bottom: 0;
    background: $color__3;
    background: linear-gradient(260deg, $color__3, $color__5);
    background-size: 200% 200%;
    background-position: -100% -100%;
    width: 36px + ($padding--xs * 2);
    padding: $padding--xs;
    @include bp(break-lg) {
        position: relative;
        width: 38.2%;
        padding: $padding--lg;
    }
}

header.page__header {
    width: 100%;
    // padding: $padding--xs+4px $padding--sm;
    // background: $color__2;
    // box-shadow: 0px 28px 64px -12px rgba(0,0,0,0.2),
    //             0px 9px 24px -4px rgba(0,0,0,0.2);
    // max-width: 420px;
    // margin: 0 auto;
    // border-radius: 2px;
    // transition: all 0.22s ease-in-out;
    // border: 1px solid white;

    // height: 68px;
    // overflow-y: hidden;

    &.page__header--open {
        height: auto;
    }

    &.page__header--loggedin {
        background: darken($color__3, 16%);
    }

    @include bp(break-md) {
        // padding: $padding--sm;
        height: auto;
    }

    .account {
        font-family: $sans;
        font-size: 0.88rem;
        color: white;
        padding: $padding--xxs 0 0;
        margin: 0;
        opacity: 0.5;
    }
}


a.element-link {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: $zTopLink;
}

/* Trumps */

.none { display: none; }
.block { display: block; }