/*
    Navigation
*/


// Main navigation
// which is in the header

nav.main {
    padding: $padding--xs 0 0;
    > ul {
        > li {
            position: relative;
            display: block;
            padding: $padding--xxs 0;
            color: lighten($color__2, 40%);
            font-family: $sans;
            font-size: 0.88rem;

            // Links in the main nav
            > a {
                display: inline-block;
                font-family: $sans;
                color: rgba(255,255,255,0.7);
                font-size: 1.5rem;
                text-decoration: none;
                transition: all 0.22s ease-in-out;

                // hover state for main nav items
                &:hover {
                    transform: translateX(12px);
                    color: rgba(255,255,255,0.88);
                }

                @include bp(break-md) {
                    font-size: 2.55rem;
                }

                &:before {
                    content: " ";
                    opacity: 0;
                    transition: all 0.22s ease-in-out;
                    position: absolute;
                    border-top: 3px solid white;
                    width: 40px;
                    left: -50px;
                    top: 50%;
                }
                &.active {
                    color: white;
                    transform: translateX(50px);
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    @include bp(break-md) {
        padding: $padding--sm 0 0;
    }
    @include bp(break-lg) {
        padding: $padding--md 0 0;
    }
}


// Sub navigation

nav.sub {
    // general spacing for subnav
    margin: $padding--xs auto 0;
    > ul {
        > li {
            padding: $padding--xxs 0;
            > a {
                font-family: $sans;
                color: rgba(255,255,255,0.5);

                // hover for subnav items
                &:hover {
                    color: rgba(255,255,255,0.7);
                }
            }
        }
    }
}