/*
    Typography
*/

$baseline: 24px;


// Heading 1
// Intro Card Heading, 404/Not Found Heading

h1 {
    font-family: $serif;
    font-size: 2rem; // 24px
    color: $color__2;
    line-height: $baseline * 1.5;
    margin: 0 0 $baseline;
    @include bp(break-sm) {
        font-size: 3rem; // 48px
        line-height: $baseline * 2;
        margin: 0 0 ($baseline * 1.5);
    }
    @include bp(break-md) {
        font-size: 3.5rem; // 56px
    }
    @include bp(break-lg) {
        font-size: 3.75rem; // 60px
        line-height: $baseline * 2.5;
    }

    &.card__heading {
        font-size: 1.5rem;
        line-height: $baseline;
        margin: 0;
        padding-top: $padding--xs;
        @include bp(break-sm) {
            font-size: 2rem;
            line-height: $baseline * 1.5;
            margin: 0 0 $baseline;
        }
        @include bp(break-md) {
            font-size: 2.5rem;
            padding-top: 0;
        }
        @include bp(break-lg) {
            font-size: 3rem; // 60px
            line-height: $baseline * 2;
        }
    }
}


// Heading 2
// Form question title, 

h2 {
    font-family: $serif;
    font-size: 2rem; // 32px
    color: $color__2;
    line-height: $baseline;
    margin: 0 0 $baseline;
    letter-spacing: -0.033rem;
    @include bp(break-sm) {
        // font-size: 2rem;
    }
    @include bp(break-md) {
        font-size: 3rem;
        line-height: $baseline * 2;
    }
    @include bp(break-lg) {
        font-size: 4rem;
        line-height: $baseline * 3;
    }
}


// Heaiding 3
// We recommend Heading

h3 {
    font-family: $sans;
    font-size: 2rem;
    margin-bottom: -0.4rem;
    color: lighten($color__2, 65%);
    line-height: $baseline;
    text-align: center;
    @include bp(break-sm) {
        font-size: 2.5rem;
        line-height: $baseline;
        margin-bottom: -0.35rem;
    }
    @include bp(break-md) {
        font-size: 3.75rem;
        line-height: $baseline * 2;
        margin-bottom: -1rem;
    }
    @include bp(break-lg) {
        font-size: 5rem;
        line-height: $baseline * 3;
        margin-bottom: -1.5rem;
    }
}


// Heading 4

h4 {
}


// Heading 5
// Question number heading

h5 {
    font-family: $sans;
    font-size: 1rem;
    line-height: 1rem;
    color: darken($color__1, 10%);
    padding: 0;
    @include bp(break-md) {
        font-size: 0.95rem;
    }
}

p {
    font-family: $sans;
    font-weight: 300;
    color: $color__2;
    line-height: $baseline;
    font-size: 1rem;
    margin: 0 0 $baseline;  
    @include bp(break-sm) { font-size: 1.125rem; }
    @include bp(break-lg) { font-size: 1.375rem; line-height: $baseline * 1.5; }
    
    strong { font-weight: 700; }
    em { font-style: italic; }

    // paragraph links
    a {
        color: $color__3;
        &:hover { color: $color__1; }
    }
    
    // data text, similar to .small
    &.data {
        font-size: 0.9375rem;
        @include bp(break-md) { font-size: 1.125rem; }
    }

    // small text
    &.small {
        font-size: 0.9375rem;
        @include bp(break-md) {
            font-size: 1rem;
        }
    }

    &:last-child {
        margin: 0;
    }
}


.data-icon {
    font-size: 1.8rem;
    color: #ddd;
}


// Temp logo

.brand {
    font-family: $sans;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    opacity: 0.65;
    writing-mode: vertical-lr;
    text-orientation: upright;
    @include bp(break-lg) {
        position: absolute;
        top: $padding--xs;
        right: $padding--xs;
    }
}


// Alignment

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }