/*
    Typography
*/

h1 {
    font-family: $serif;
    font-size: 1.875rem;
    color: $color__2;
    line-height: 100%;
    @include bp(break-sm) {
        font-size: 2.59rem;
    }
    @include bp(break-md) {
        font-size: 3.1rem;
    }
    @include bp(break-lg) {
        font-size: 3.9rem;
    }
}

h1.card__heading {
    @include bp(break-md) {
        font-size: 2.7rem;
    }
    @include bp(break-lg) {
        font-size: 3rem;
    }
}

h2 {
    font-family: $serif;
    font-size: 1.55rem;
    color: $color__2;
    line-height: 100%;
    margin: 0 0 $padding--xs;
    letter-spacing: -0.033rem;
    @include bp(break-sm) {
        font-size: 1.8rem;
    }
    @include bp(break-md) {
        font-size: 2.55rem;
        margin: 0 0 $padding--sm;
    }
    @include bp(break-lg) {
        font-size: 3.9rem;
    }
}

h3 {
    font-family: $sans;
    font-size: 2rem;
    margin-bottom: -0.6rem;
    color: lighten($color__2, 65%);
    line-height: 100%;
    text-align: center;
    @include bp(break-sm) {
        font-size: 2.55rem;
        margin-bottom: -0.8rem;
    }
    @include bp(break-md) {
        font-size: 3.3rem;
        margin-bottom: -1rem;
    }
    @include bp(break-lg) {
        font-size: 4.9rem;
        margin-bottom: -1.75rem;
    }
}

p {
    font-family: $sans;
    font-weight: 300;
    color: $color__2;
    line-height: 144%;
    font-size: 1.05rem;
    @include bp(break-sm) { font-size: 1.15rem; }
    @include bp(break-md) { font-size: 1.25rem; }
    @include bp(break-lg) { font-size: 1.3rem; }
    &.data {
        font-size: 0.975rem;
        @include bp(break-md) { font-size: 1.1rem; }
    }
    strong { font-weight: 700; }
    em { font-style: italic; }

    a {
        color: $color__3;
        &:hover {
            color: $color__1;
        }
    }
}

.small {
    font-family: $sans;
    font-size: 0.84rem;
    color: darken($color__1, 10%);
    padding: 0;
    @include bp(break-md) {
        font-size: 0.9rem;
    }
}

.data-icon {
    font-size: 1.8rem;
    color: #ddd;
}


.brand {
    font-family: $serif;
    color: #999;
    font-size: 28px;
}



.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }